<!DOCTYPE html>
<html>
<head>
	<title>Make_my_Plan/About_Us.com</title>
	<link rel = "shortcut icon" type = "image" href = "/public/images/icon.jpg">
	{{!-- <link rel="stylesheet" type="text/css" href="about_us.css"> --}}
</head>
<style>
	.navbar
{
	background-color: black;
	border-radius: 10px;
}
.navbar ul
{
	overflow: auto;
}
.navbar li{
	float: left;
	list-style: none;
	margin:13px 20px;
}
.navbar li a
{
	padding:3px 3px;
	text-decoration: none;
	color: white;
}
.navbar li a:hover{color: red;}
.search
{
	float: right;
	color: white;
	padding:13px 20px;
}
.navbar input
{
	border:0px solid black;
	border-radius: 8px;
	padding: 3px 17px;
	width: 250px;
}
.name
{
	font-family: "elephant";
	margin-top: 50px;
	margin-left: 550px;
	font-size: 50px;
	text-decoration: underline;
	color: blue;
	text-decoration-color: grey;
}
.para1
{
	font-size: 20px;
}
.para2
{
	font-size: 20px;
}
.a1
{
	border:1px black solid;
	border-radius: 5px;
	margin-left: 900px;
	margin-top: -400px;
	height: 177px;
	width: 284px;
}
.a2
{
	border:1px black solid;
	border-radius: 5px;
	margin-left: 1050px;
	margin-top: 100px;
	height: 183px;
	width: 275px;
}
.bottom
{
	position: relative;
	height:550px;
	width:1326px;
	border:1px solid black;
	border-radius: 5px;
	background-color: black;
	margin-left: -8px;
	font-family: "Arial";
	color: white;
	font-size: 20px;
	padding-left: 20px;
	padding-top: 40px;
}
.bottom td a
{
	text-decoration: none;
	color: white;
}
.bottom td a:hover
{
	color:blue;
}
.btn1
{
	outline: none;
	border:none;
	border-radius: 15px;
	cursor: pointer;
	transition: 2s linear;
	height: 50px;
	width: 220px;
	margin-top: 1rem;
	margin-left: 50px;
	color: #fff;
	background:#0098a1;
	font-size: 20px;
}
.btn1:hover
{
	background:none;
	color: #0098a1;
	border:2px solid #0098a1;
}
.btn2
{
	outline: none;
	border:none;
	border-radius: 15px;
	cursor: pointer;
	transition: 2s linear;
	height: 50px;
	width: 220px;
	margin-top: 1rem;
	margin-left: 30px;
	color: #fff;
	background:#0098a1;
	font-size: 20px;
}
.btn2:hover
{
	background:none;
	color: #0098a1;
	border:2px solid #0098a1;
}

</style>

<body>
	<header>
		<nav class="navbar">
			<ul>
				<li><a href="/home">Home</a></li>
				<li><a href="/about">About Us</a></li>
				<li><a href="/gallery">Gallery</a></li>
				<li><a href="/reviews">Reviews</a></li>
				<li><a href="/contact">Contact Us</a></li>
				<div class="search">
					<input type="text" name="search" placeholder="Type here to search">
				</div>
			</ul>
		</nav>
	</header>

	<name class="name">A<font color="grey">bout</font> U<font color="grey">s</font></name>
	<br><br><br>

	<font color="blue" style="elephant" size="10px"><b>Why choose Us?</b></font>
	<br><br>
	<para1 class="para1">Established in 2010,MakeMyPlan has since positioned itself as one of the leading companies,providing<br> great offers, exclusive information and a seamless online experience to its users.It ensures complete ease <br>without any hassels. We also deliver amazing offers and many more offers while updating them from<br> time to time to better suit our customers' evolving needs and demands.</para1>
	<br><br><br>
	<font color="blue" style="elephant" size="10px"><b>What we do?</b></font>
	<br><br>
	<para2 class="para2">Our website provides you the easy way to explore the place and plan your trip accordingly. Surf through<br> the map and find your location for vacation and then dropout your mail-address to us in the form. Our<br> client will reach out to you and will provide you with all the complete information about the place you wish<br> to know through mail.</para2>
	<div class="a1"><img src="/public/images/1.jpg"></div>
	<div class="a2"><img src="/public/images/2.jpg"></div>
	<br><br>
	<a href="#"><button class="btn1">Read more</button></a>
	<a href="#"><button class="btn2">Get Started</button></a>
	<br><br>
	<img src="/public/images/3.jpg" style="border-radius: 5px" width="300">
	<img src="/public/images/4.jpg" style="border-radius: 5px; margin-left:-4px" width="250">
	<img src="/public/images/5.jpg" style="border-radius: 5px; margin-left: -4px">
	<img src="/public/images/7.jpg" style="border-radius: 5px; margin-left: -4px">
	<img src="/public/images/8.jpg" style="border-radius: 5px; margin-left:-4px" width="250">
	<br>
	<hr>
	<br>
	<div class="bottom">
		<table border="0px" width="800px" height="500px" cellspacing="0" bordercolor="red">
			<tr>
				<td><b><font color="red">ABOUT</font></b></td>
				<td><b><font color="red">HELP</font></b></td>
				<td><b><font color="red">POLICY</font></b></td>
				<td><b><font color="red">SOCIAL</font></b></td>
			</tr>
			<tr>
				<td><a href="/contact">Contact Us</a></td>
				<td><a href="#">Featured</a></td>
				<td><a href="#">Policies</a></td>
				<td><a href="#">Facebook</a></td>
			</tr>
			<tr>
				<td><a href="#">Home</a></td>
				<td><a href="#">Deals</a></td>
				<td><a href="#">Terms of Use</a></td>
				<td><a href="#">Twitter</a></td>
			</tr>
			<tr>
				<td><a href="/reviews">Reviews</a></td>
				<td><a href="#">Offers</a></td>
				<td><a href="#">Trip Ideas</a></td>
				<td><a href="#">YouTube</a></td>
			</tr>
			<tr>
				<td><a href="#">Stories</a></td>
				<td><a href="#">FAQ</a></td>
				<td><a href="#">Privacy</a></td>
			</tr>
			<tr>
				<td><a href="/gallery">Gallery</a></td>
				<td><a href="#">Report</a></td>
				<td><a href="#">Site Map</a></td>
			</tr>
			<tr>
				<td><a href="#">My Agent</a></td>
				<td></td>
				<td><a href="#">EPR Compilance</a></td>
			</tr>
			
		</table>
		<table border="1px" height="500px" width="1px" cellspacing="0" bordercolor="white" style="margin-left: 820px; margin-top: -500px;"></table>
		<table border="0px" height="300px" width="400px" cellspacing="0" bordercolor="white" style="margin-left: 860px; margin-top: -480px;">
			<tr><td>
			<b><font color="red">Registered Office Address</font></b><br><br>
				MakeMyPlan Private Limited,<br>
				Buildings Alyssa, Begonia &<br>
				Clove Embassy Tech Village,<br>
				Outer Ring Road, Devarabeesanhali Village,<br>
				Bengaluru, India<br>
				CIN: D45678TH2021THB765992<br>
				Telephone:<font color="blue"><b>1800 497 5678</b></font><br><br><br><br>
				2010-2021 MakeMyPlan.com
			</td></tr> 
		</table>
	</div>



</body>
</html>