<!DOCTYPE html>
<html>
<head>
	<title>Make_my_Places/error</title>
	<link rel = "shortcut icon" type = "image" href = "/public/images/icon.jpg">
</head>
</head>
<style>
        .navbar
{
	background-color: black;
	border-radius: 10px;
}
.navbar ul
{
	overflow: auto;
}
.navbar li{
	float: left;
	list-style: none;
	margin:13px 20px;
}
.navbar li a
{
	padding:3px 3px;
	text-decoration: none;
	color: white;
}
.navbar li a:hover{color: red;}
.search
{
	float: right;
	color: white;
	padding:13px 20px;
}
.navbar input
{
	border:0px solid black;
	border-radius: 8px;
	padding: 3px 17px;
	width: 250px;
}
</style>
<body>
    <header>
		<nav class="navbar">
			<ul>
				<li><a href="/home">Home</a></li>
				<li><a href="/about">About Us</a></li>
				<li><a href="/gallery">Gallery</a></li>
				<li><a href="/reviews">Reviews</a></li>
				<li><a href="/contact">Contact Us</a></li>
				<div class="search">
					<input type="text" name="search" placeholder="Type here to search">
				</div>
			</ul>
		</nav>
	</header>

<h1> Error 404</h1>
<br>

<h2>Page couldn't be found</h2>




	
</body>
</html>