<!DOCTYPE html>
<html>
<head>
	<title>Make_my_Plan/Places.com</title>
	<link rel = "shortcut icon" type = "image" href = "/public/images/icon.jpg">
	<style type="text/css">
		.button
		{
			border-radius: 15px;
			background-color: #f4511e;
			border: none;
			color:#FFFFFF;
			text-align: center;
			font-size: 20px;
			padding: 20px;
			width: 200px;
			transition: all 0.5s;
			cursor: pointer;
			margin: 5px;
			margin-left: 920px;
			font-family: "elephant";
		}
		.button span
		{
			cursor: pointer;
			display: inline-block;
			position: relative;
			transition: 0.5s;
		}
		.button span:after
		{
			content: '\00bb';
			position:absolute;
			opacity: 0;
			top:0;
			right: -20px;
			transition: 0.5s;
		}
		.button:hover span
		{
			padding-right: 25px;
		}
		.button:hover span:after
		{
			opacity: 1;
			right: 0;
		}
		
	</style>
</head>
<body>
	<font face="elephant" size="10" color="blue"><center><u><b>Places To Visit</b></u></center></font>
	<br>
	<a name="jk"></a>
	<font face="calibiri" size="8" color="black"><b><u>Jammu & Kashmir</u></b></font>
	<br><br>
	<ul type="disc">
		<li><font color="red" size="6"><b>Monuments</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Hari Prabhat</li>
				<li>Leh Palace</li>
				<li>Mubarak Mandi Palace</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>Temples</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Kheer Bhawani Temple</li>
				<li>Bumzuva Cave and Temple</li>
				<li>Shankaragurishwara Temple</li>
				<li>Shivparvata Shakti Peeth</li>
				<li>Shanti Stupa</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>National Parks</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Dachigam National Park</li>
				<li>Hemis National Park</li>
				<li>Kishtwar National Park</li>
				<li>Kaziranga National Park</li></b></font>
			</ul>
		</li>
	</ul>
	<a href="/contact"><button class="button"><span>For More Info</span></button></a>
	<hr color="blue">
	<a name="hp"></a>
	<font face="calibiri" size="8" color="black"><b><u>Himachal Pradesh</u></b></font>
	<br><br>
	<ul type="disc">
		<li><font color="red" size="6"><b>Monuments</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Kangra Fort</li>
				<li>Tabo Monastory</li>
				<li>Rashtrapati Niwas</li>
				<li>Key Monastory</li>
				<li>Naggar Castle</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>Temples</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Baijnath Temple</li>
				<li>Rock-Cut-Temple</li>
				<li>Prashar Temple</li>
				<li>Hadima Devi Temple</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>National Parks</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Great Himalayan National Park</li>
				<li>Pin Valley National Park</li>
				<li>Inderkilla National Park</li>
				<li>Kaziranga National Park</li></b></font>
			</ul>
		</li>
	</ul>
	<a href="/contact"><button class="button"><span>For More Info</span></button></a>
	<hr color="blue">
	<a name="punjab"></a>
	<font face="calibiri" size="8" color="black"><b><u>Punjab</u></b></font>
	<br><br>
	<ul type="disc">
		<li><font color="red" size="6"><b>Monuments</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Jallianwala Bagh</li>
				<li>Guru Ka Mahal</li>
				<li>Sheesh Mahal</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>Temples</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Khair-Ud-Din Masjid</li>
				<li>Gurudwara Mata Kaulan</li>
				<li>Prashar Temple</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>National Parks</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Jhajjar Bachauli National Park</li>
				<li>Bir Moti Bagh National Park</li>
				<li>Bir Bhadon National Park</li>
				<li>Abohar National Park</li></b></font>
			</ul>
		</li>
	</ul>
	<a href="/contact"><button class="button"><span>For More Info</span></button></a>
	<hr color="blue">
	<a name="uk"></a>
	<font face="calibiri" size="8" color="black"><b><u>Uttarakhand</u></b></font>
	<br><br>
	<ul type="disc">
		<li><font color="red" size="6"><b>Monuments</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Katarmal Sun</li>
				<li>Dwarahat</li>
				<li>Patal Bhuvaneshwar</li>
				<li>Kalsi</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>Temples</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Kedarnath</li>
				<li>Mahasu Devi</li>
				<li>Tungnath</li>
				<li>Baleshwar</li>
				<li>Gangotri Dham</li>
				<li>Badrinath Dham</li>
				<li>Badrinath Dham</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>National Parks</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Gir National Park</li>
				<li>Rajaji National Park</li>
				<li>Valley Of Flowers</li>
				<li>Nanadevi</li>
				<li>Gangotri National Park</li></b></font>
			</ul>
		</li>
	</ul>
	<a href="/contact"><button class="button"><span>For More Info</span></button></a>
	<hr color="blue">
	<a name="haryana"></a>
	<font face="calibiri" size="8" color="black"><b><u>Harayana</u></b></font>
	<br><br>
	<ul type="disc">
		<li><font color="red" size="6"><b>Monuments</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Rock Garden</li>
				<li>Kingdom Of Dreams</li>
				<li>Sheesh Mahal</li>
				<li>Sukhna Lake</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>Temples</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Devi Mandir</li>
				<li>Shree Geeta Birla Mandir</li>
				<li>Bhima Devi Temple</li>
				<li>Bhubneshwar Temple</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>National Parks</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Kalesar National Park</li>
				<li>Sultanpur National Park</li></b></font>
			</ul>
		</li>
	</ul>
	<a href="/contact"><button class="button"><span>For More Info</span></button></a>
	<hr color="blue">
	<a name="rajasthan"></a>
	<font face="calibiri" size="8" color="black"><b><u>Rajasthan</u></b></font>
	<br><br>
	<ul type="disc">
		<li><font color="red" size="6"><b>Monuments</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Amber Fort</li>
				<li>Birla Mandir,Jaipur</li>
				<li>Hawa Mahal</li>
				<li>Abhaneri Steep Wall</li>
				<li>Jaigar Fort</li>
				<li>Dolls Meusem</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>Temples</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Mahandipur Balaji Temple</li>
				<li>Sai Dham</li>
				<li>Rani Sati Temple</li>
				<li>Ambika Temple</li>
				<li>Parshuram Temple</li>
				<li>Ranakpur Jain Temple</li>
				<li>Akshardham Temple</li>
				<li>Meerabai Temple</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>National Parks</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Ranthambore National Park</li>
				<li>Desert National Park</li>
				<li>Darrah National Park</li>
				<li>Keoladeo National Park</li></b></font>
			</ul>
		</li>
	</ul>
	<a href="/contact"><button class="button"><span>For More Info</span></button></a>
	<hr color="blue">
	<a name="up"></a>
	<font face="calibiri" size="8" color="black"><b><u>Uttar Pradesh</u></b></font>
	<br><br>
	<ul type="disc">
		<li><font color="red" size="6"><b>Monuments</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Taj Mahal</li>
				<li>Agra Fort</li>
				<li>Fatehpur Sikri</li>
				<li>Sarnath Stupa</li>
				<li>Bara Imbara</li>
				<li>Varanasi Ghat</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>Temples</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Vrindavan Chandrodaya Temple</li>
				<li>Sikri Mata Mandir</li>
				<li>Patam Devi Temple</li>
				<li>Ambika Temple</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>National Parks</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Dudwa National Park & Tiger Reserve</li>
				<li>Pilibhit Tiger Reserve & Wildlife Sanctuary</li>
				<li>Mahavir Swami Wildlife Sanctuary</li>
				<li>Hastinapur Wildlife Sanctuary</li></b></font>
			</ul>
		</li>
	</ul>
	<a href="/contact"><button class="button"><span>For More Info</span></button></a>
	<hr color="blue">
	<a name="delhi"></a>
	<font face="calibiri" size="8" color="black"><b><u>Delhi</u></b></font>
	<br><br>
	<ul type="disc">
		<li><font color="red" size="6"><b>Monuments</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Amber Fort</li>
				<li>Birla Mandir,Jaipur</li>
				<li>Hawa Mahal</li>
				<li>Abhaneri Steep Wall</li>
				<li>Jaigar Fort</li>
				<li>Dolls Meusem</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>Temples</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Mahandipur Balaji Temple</li>
				<li>Sai Dham</li>
				<li>Rani Sati Temple</li>
				<li>Ambika Temple</li>
				<li>Parshuram Temple</li>
				<li>Ranakpur Jain Temple</li>
				<li>Akshardham Temple</li>
				<li>Meerabai Temple</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>National Parks</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Ranthambore National Park</li>
				<li>Desert National Park</li>
				<li>Darrah National Park</li>
				<li>Keoladeo National Park</li></b></font>
			</ul>
		</li>
	</ul>
	<a href="/contact"><button class="button"><span>For More Info</span></button></a>
	<hr color="blue">
	<a name="mp"></a>
	<font face="calibiri" size="8" color="black"><b><u>Madhaya Pradesh</u></b></font>
	<br><br>
	<ul type="disc">
		<li><font color="red" size="6"><b>Monuments</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Amber Fort</li>
				<li>Birla Mandir,Jaipur</li>
				<li>Hawa Mahal</li>
				<li>Abhaneri Steep Wall</li>
				<li>Jaigar Fort</li>
				<li>Dolls Meusem</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>Temples</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Mahandipur Balaji Temple</li>
				<li>Sai Dham</li>
				<li>Rani Sati Temple</li>
				<li>Ambika Temple</li>
				<li>Parshuram Temple</li>
				<li>Ranakpur Jain Temple</li>
				<li>Akshardham Temple</li>
				<li>Meerabai Temple</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>National Parks</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Ranthambore National Park</li>
				<li>Desert National Park</li>
				<li>Darrah National Park</li>
				<li>Keoladeo National Park</li></b></font>
			</ul>
		</li>
	</ul>
	<a href="/contact"><button class="button"><span>For More Info</span></button></a>
	<hr color="blue">
	<a name="gujarat"></a>
	<font face="calibiri" size="8" color="black"><b><u>Gujarat</u></b></font>
	<br><br>
	<ul type="disc">
		<li><font color="red" size="6"><b>Monuments</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Amber Fort</li>
				<li>Birla Mandir,Jaipur</li>
				<li>Hawa Mahal</li>
				<li>Abhaneri Steep Wall</li>
				<li>Jaigar Fort</li>
				<li>Dolls Meusem</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>Temples</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Mahandipur Balaji Temple</li>
				<li>Sai Dham</li>
				<li>Rani Sati Temple</li>
				<li>Ambika Temple</li>
				<li>Parshuram Temple</li>
				<li>Ranakpur Jain Temple</li>
				<li>Akshardham Temple</li>
				<li>Meerabai Temple</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>National Parks</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Ranthambore National Park</li>
				<li>Desert National Park</li>
				<li>Darrah National Park</li>
				<li>Keoladeo National Park</li></b></font>
			</ul>
		</li>
	</ul>
	<a href="/contact"><button class="button"><span>For More Info</span></button></a>
	<hr color="blue">
	<a name="bihar"></a>
	<font face="calibiri" size="8" color="black"><b><u>Bihar</u></b></font>
	<br><br>
	<ul type="disc">
		<li><font color="red" size="6"><b>Monuments</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Amber Fort</li>
				<li>Birla Mandir,Jaipur</li>
				<li>Hawa Mahal</li>
				<li>Abhaneri Steep Wall</li>
				<li>Jaigar Fort</li>
				<li>Dolls Meusem</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>Temples</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Mahandipur Balaji Temple</li>
				<li>Sai Dham</li>
				<li>Rani Sati Temple</li>
				<li>Ambika Temple</li>
				<li>Parshuram Temple</li>
				<li>Ranakpur Jain Temple</li>
				<li>Akshardham Temple</li>
				<li>Meerabai Temple</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>National Parks</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Ranthambore National Park</li>
				<li>Desert National Park</li>
				<li>Darrah National Park</li>
				<li>Keoladeo National Park</li></b></font>
			</ul>
		</li>
	</ul>
	<a href="/contact"><button class="button"><span>For More Info</span></button></a>
	<hr color="blue">
	<a name="jharkhand"></a>
	<font face="calibiri" size="8" color="black"><b><u>Jharkhand</u></b></font>
	<br><br>
	<ul type="disc">
		<li><font color="red" size="6"><b>Monuments</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Amber Fort</li>
				<li>Birla Mandir,Jaipur</li>
				<li>Hawa Mahal</li>
				<li>Abhaneri Steep Wall</li>
				<li>Jaigar Fort</li>
				<li>Dolls Meusem</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>Temples</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Mahandipur Balaji Temple</li>
				<li>Sai Dham</li>
				<li>Rani Sati Temple</li>
				<li>Ambika Temple</li>
				<li>Parshuram Temple</li>
				<li>Ranakpur Jain Temple</li>
				<li>Akshardham Temple</li>
				<li>Meerabai Temple</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>National Parks</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Ranthambore National Park</li>
				<li>Desert National Park</li>
				<li>Darrah National Park</li>
				<li>Keoladeo National Park</li></b></font>
			</ul>
		</li>
	</ul>
	<a href="/contact"><button class="button"><span>For More Info</span></button></a>
	<hr color="blue">
	<a name="chattisgarh"></a>
	<font face="calibiri" size="8" color="black"><b><u>Chattisgarh</u></b></font>
	<br><br>
	<ul type="disc">
		<li><font color="red" size="6"><b>Monuments</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Amber Fort</li>
				<li>Birla Mandir,Jaipur</li>
				<li>Hawa Mahal</li>
				<li>Abhaneri Steep Wall</li>
				<li>Jaigar Fort</li>
				<li>Dolls Meusem</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>Temples</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Mahandipur Balaji Temple</li>
				<li>Sai Dham</li>
				<li>Rani Sati Temple</li>
				<li>Ambika Temple</li>
				<li>Parshuram Temple</li>
				<li>Ranakpur Jain Temple</li>
				<li>Akshardham Temple</li>
				<li>Meerabai Temple</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>National Parks</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Ranthambore National Park</li>
				<li>Desert National Park</li>
				<li>Darrah National Park</li>
				<li>Keoladeo National Park</li></b></font>
			</ul>
		</li>
	</ul>
	<a href="/contact"><button class="button"><span>For More Info</span></button></a>
	<hr color="blue">
	<a name="wb"></a>
	<font face="calibiri" size="8" color="black"><b><u>West Bengal</u></b></font>
	<br><br>
	<ul type="disc">
		<li><font color="red" size="6"><b>Monuments</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Amber Fort</li>
				<li>Birla Mandir,Jaipur</li>
				<li>Hawa Mahal</li>
				<li>Abhaneri Steep Wall</li>
				<li>Jaigar Fort</li>
				<li>Dolls Meusem</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>Temples</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Mahandipur Balaji Temple</li>
				<li>Sai Dham</li>
				<li>Rani Sati Temple</li>
				<li>Ambika Temple</li>
				<li>Parshuram Temple</li>
				<li>Ranakpur Jain Temple</li>
				<li>Akshardham Temple</li>
				<li>Meerabai Temple</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>National Parks</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Ranthambore National Park</li>
				<li>Desert National Park</li>
				<li>Darrah National Park</li>
				<li>Keoladeo National Park</li></b></font>
			</ul>
		</li>
	</ul>
	<a href="/contact"><button class="button"><span>For More Info</span></button></a>
	<hr color="blue">
	<a name="orissa"></a>
	<font face="calibiri" size="8" color="black"><b><u>Orrisa</u></b></font>
	<br><br>
	<ul type="disc">
		<li><font color="red" size="6"><b>Monuments</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Amber Fort</li>
				<li>Birla Mandir,Jaipur</li>
				<li>Hawa Mahal</li>
				<li>Abhaneri Steep Wall</li>
				<li>Jaigar Fort</li>
				<li>Dolls Meusem</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>Temples</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Mahandipur Balaji Temple</li>
				<li>Sai Dham</li>
				<li>Rani Sati Temple</li>
				<li>Ambika Temple</li>
				<li>Parshuram Temple</li>
				<li>Ranakpur Jain Temple</li>
				<li>Akshardham Temple</li>
				<li>Meerabai Temple</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>National Parks</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Ranthambore National Park</li>
				<li>Desert National Park</li>
				<li>Darrah National Park</li>
				<li>Keoladeo National Park</li></b></font>
			</ul>
		</li>
	</ul>
	<a href="/contact"><button class="button"><span>For More Info</span></button></a>
	<hr color="blue">
	<a name="maharashtra"></a>
	<font face="calibiri" size="8" color="black"><b><u>Maharashtra</u></b></font>
	<br><br>
	<ul type="disc">
		<li><font color="red" size="6"><b>Monuments</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Amber Fort</li>
				<li>Birla Mandir,Jaipur</li>
				<li>Hawa Mahal</li>
				<li>Abhaneri Steep Wall</li>
				<li>Jaigar Fort</li>
				<li>Dolls Meusem</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>Temples</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Mahandipur Balaji Temple</li>
				<li>Sai Dham</li>
				<li>Rani Sati Temple</li>
				<li>Ambika Temple</li>
				<li>Parshuram Temple</li>
				<li>Ranakpur Jain Temple</li>
				<li>Akshardham Temple</li>
				<li>Meerabai Temple</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>National Parks</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Ranthambore National Park</li>
				<li>Desert National Park</li>
				<li>Darrah National Park</li>
				<li>Keoladeo National Park</li></b></font>
			</ul>
		</li>
	</ul>
	<a href="/contact"><button class="button"><span>For More Info</span></button></a>
	<hr color="blue">
	<a name="telangana"></a>
	<font face="calibiri" size="8" color="black"><b><u>Telangana</u></b></font>
	<br><br>
	<ul type="disc">
		<li><font color="red" size="6"><b>Monuments</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Amber Fort</li>
				<li>Birla Mandir,Jaipur</li>
				<li>Hawa Mahal</li>
				<li>Abhaneri Steep Wall</li>
				<li>Jaigar Fort</li>
				<li>Dolls Meusem</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>Temples</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Mahandipur Balaji Temple</li>
				<li>Sai Dham</li>
				<li>Rani Sati Temple</li>
				<li>Ambika Temple</li>
				<li>Parshuram Temple</li>
				<li>Ranakpur Jain Temple</li>
				<li>Akshardham Temple</li>
				<li>Meerabai Temple</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>National Parks</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Ranthambore National Park</li>
				<li>Desert National Park</li>
				<li>Darrah National Park</li>
				<li>Keoladeo National Park</li></b></font>
			</ul>
		</li>
	</ul>
	<a href="/contact"><button class="button"><span>For More Info</span></button></a>
	<hr color="blue">
	<a name="ap"></a>
	<font face="calibiri" size="8" color="black"><b><u>Andhra Pradesh</u></b></font>
	<br><br>
	<ul type="disc">
		<li><font color="red" size="6"><b>Monuments</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Amber Fort</li>
				<li>Birla Mandir,Jaipur</li>
				<li>Hawa Mahal</li>
				<li>Abhaneri Steep Wall</li>
				<li>Jaigar Fort</li>
				<li>Dolls Meusem</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>Temples</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Mahandipur Balaji Temple</li>
				<li>Sai Dham</li>
				<li>Rani Sati Temple</li>
				<li>Ambika Temple</li>
				<li>Parshuram Temple</li>
				<li>Ranakpur Jain Temple</li>
				<li>Akshardham Temple</li>
				<li>Meerabai Temple</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>National Parks</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Ranthambore National Park</li>
				<li>Desert National Park</li>
				<li>Darrah National Park</li>
				<li>Keoladeo National Park</li></b></font>
			</ul>
		</li>
	</ul>
	<a href="/contact"><button class="button"><span>For More Info</span></button></a>
	<hr color="blue">
	<a name="goa"></a>
	<font face="calibiri" size="8" color="black"><b><u>Goa</u></b></font>
	<br><br>
	<ul type="disc">
		<li><font color="red" size="6"><b>Monuments</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Amber Fort</li>
				<li>Birla Mandir,Jaipur</li>
				<li>Hawa Mahal</li>
				<li>Abhaneri Steep Wall</li>
				<li>Jaigar Fort</li>
				<li>Dolls Meusem</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>Temples</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Mahandipur Balaji Temple</li>
				<li>Sai Dham</li>
				<li>Rani Sati Temple</li>
				<li>Ambika Temple</li>
				<li>Parshuram Temple</li>
				<li>Ranakpur Jain Temple</li>
				<li>Akshardham Temple</li>
				<li>Meerabai Temple</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>National Parks</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Ranthambore National Park</li>
				<li>Desert National Park</li>
				<li>Darrah National Park</li>
				<li>Keoladeo National Park</li></b></font>
			</ul>
		</li>
	</ul>
	<a href="/contact"><button class="button"><span>For More Info</span></button></a>
	<hr color="blue">
	<a name="karnatka"></a>
	<font face="calibiri" size="8" color="black"><b><u>Karnatka</u></b></font>
	<br><br>
	<ul type="disc">
		<li><font color="red" size="6"><b>Monuments</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Amber Fort</li>
				<li>Birla Mandir,Jaipur</li>
				<li>Hawa Mahal</li>
				<li>Abhaneri Steep Wall</li>
				<li>Jaigar Fort</li>
				<li>Dolls Meusem</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>Temples</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Mahandipur Balaji Temple</li>
				<li>Sai Dham</li>
				<li>Rani Sati Temple</li>
				<li>Ambika Temple</li>
				<li>Parshuram Temple</li>
				<li>Ranakpur Jain Temple</li>
				<li>Akshardham Temple</li>
				<li>Meerabai Temple</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>National Parks</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Ranthambore National Park</li>
				<li>Desert National Park</li>
				<li>Darrah National Park</li>
				<li>Keoladeo National Park</li></b></font>
			</ul>
		</li>
	</ul>
	<a href="/contact"><button class="button"><span>For More Info</span></button></a>
	<hr color="blue">
	<a name="tn"></a>
	<font face="calibiri" size="8" color="black"><b><u>Tamil Nadu</u></b></font>
	<br><br>
	<ul type="disc">
		<li><font color="red" size="6"><b>Monuments</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Amber Fort</li>
				<li>Birla Mandir,Jaipur</li>
				<li>Hawa Mahal</li>
				<li>Abhaneri Steep Wall</li>
				<li>Jaigar Fort</li>
				<li>Dolls Meusem</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>Temples</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Mahandipur Balaji Temple</li>
				<li>Sai Dham</li>
				<li>Rani Sati Temple</li>
				<li>Ambika Temple</li>
				<li>Parshuram Temple</li>
				<li>Ranakpur Jain Temple</li>
				<li>Akshardham Temple</li>
				<li>Meerabai Temple</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>National Parks</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Ranthambore National Park</li>
				<li>Desert National Park</li>
				<li>Darrah National Park</li>
				<li>Keoladeo National Park</li></b></font>
			</ul>
		</li>
	</ul>
	<a href="/contact"><button class="button"><span>For More Info</span></button></a>
	<hr color="blue">
	<a name="kerala"></a>
	<font face="calibiri" size="8" color="black"><b><u>Kerala</u></b></font>
	<br><br>
	<ul type="disc">
		<li><font color="red" size="6"><b>Monuments</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Amber Fort</li>
				<li>Birla Mandir,Jaipur</li>
				<li>Hawa Mahal</li>
				<li>Abhaneri Steep Wall</li>
				<li>Jaigar Fort</li>
				<li>Dolls Meusem</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>Temples</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Mahandipur Balaji Temple</li>
				<li>Sai Dham</li>
				<li>Rani Sati Temple</li>
				<li>Ambika Temple</li>
				<li>Parshuram Temple</li>
				<li>Ranakpur Jain Temple</li>
				<li>Akshardham Temple</li>
				<li>Meerabai Temple</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>National Parks</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Ranthambore National Park</li>
				<li>Desert National Park</li>
				<li>Darrah National Park</li>
				<li>Keoladeo National Park</li></b></font>
			</ul>
		</li>
	</ul>
	<a href="/contact"><button class="button"><span>For More Info</span></button></a>
	<hr color="blue">
	<a name="sikkim"></a>
	<font face="calibiri" size="8" color="black"><b><u>Sikkim</u></b></font>
	<br><br>
	<ul type="disc">
		<li><font color="red" size="6"><b>Monuments</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Amber Fort</li>
				<li>Birla Mandir,Jaipur</li>
				<li>Hawa Mahal</li>
				<li>Abhaneri Steep Wall</li>
				<li>Jaigar Fort</li>
				<li>Dolls Meusem</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>Temples</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Mahandipur Balaji Temple</li>
				<li>Sai Dham</li>
				<li>Rani Sati Temple</li>
				<li>Ambika Temple</li>
				<li>Parshuram Temple</li>
				<li>Ranakpur Jain Temple</li>
				<li>Akshardham Temple</li>
				<li>Meerabai Temple</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>National Parks</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Ranthambore National Park</li>
				<li>Desert National Park</li>
				<li>Darrah National Park</li>
				<li>Keoladeo National Park</li></b></font>
			</ul>
		</li>
	</ul>
	<a href="/contact"><button class="button"><span>For More Info</span></button></a>
	<hr color="blue">
	<a name="assam"></a>
	<font face="calibiri" size="8" color="black"><b><u>Assam</u></b></font>
	<br><br>
	<ul type="disc">
		<li><font color="red" size="6"><b>Monuments</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Amber Fort</li>
				<li>Birla Mandir,Jaipur</li>
				<li>Hawa Mahal</li>
				<li>Abhaneri Steep Wall</li>
				<li>Jaigar Fort</li>
				<li>Dolls Meusem</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>Temples</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Mahandipur Balaji Temple</li>
				<li>Sai Dham</li>
				<li>Rani Sati Temple</li>
				<li>Ambika Temple</li>
				<li>Parshuram Temple</li>
				<li>Ranakpur Jain Temple</li>
				<li>Akshardham Temple</li>
				<li>Meerabai Temple</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>National Parks</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Ranthambore National Park</li>
				<li>Desert National Park</li>
				<li>Darrah National Park</li>
				<li>Keoladeo National Park</li></b></font>
			</ul>
		</li>
	</ul>
	<a href="/contact"><button class="button"><span>For More Info</span></button></a>
	<hr color="blue">
	<a name="arp"></a>
	<font face="calibiri" size="8" color="black"><b><u>Arunachal Pradesh</u></b></font>
	<br><br>
	<ul type="disc">
		<li><font color="red" size="6"><b>Monuments</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Amber Fort</li>
				<li>Birla Mandir,Jaipur</li>
				<li>Hawa Mahal</li>
				<li>Abhaneri Steep Wall</li>
				<li>Jaigar Fort</li>
				<li>Dolls Meusem</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>Temples</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Mahandipur Balaji Temple</li>
				<li>Sai Dham</li>
				<li>Rani Sati Temple</li>
				<li>Ambika Temple</li>
				<li>Parshuram Temple</li>
				<li>Ranakpur Jain Temple</li>
				<li>Akshardham Temple</li>
				<li>Meerabai Temple</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>National Parks</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Ranthambore National Park</li>
				<li>Desert National Park</li>
				<li>Darrah National Park</li>
				<li>Keoladeo National Park</li></b></font>
			</ul>
		</li>
	</ul>
	<a href="/contact"><button class="button"><span>For More Info</span></button></a>
	<hr color="blue">
	<a name="manipur"></a>
	<font face="calibiri" size="8" color="black"><b><u>Manipur</u></b></font>
	<br><br>
	<ul type="disc">
		<li><font color="red" size="6"><b>Monuments</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Amber Fort</li>
				<li>Birla Mandir,Jaipur</li>
				<li>Hawa Mahal</li>
				<li>Abhaneri Steep Wall</li>
				<li>Jaigar Fort</li>
				<li>Dolls Meusem</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>Temples</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Mahandipur Balaji Temple</li>
				<li>Sai Dham</li>
				<li>Rani Sati Temple</li>
				<li>Ambika Temple</li>
				<li>Parshuram Temple</li>
				<li>Ranakpur Jain Temple</li>
				<li>Akshardham Temple</li>
				<li>Meerabai Temple</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>National Parks</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Ranthambore National Park</li>
				<li>Desert National Park</li>
				<li>Darrah National Park</li>
				<li>Keoladeo National Park</li></b></font>
			</ul>
		</li>
	</ul>
	<a href="/contact"><button class="button"><span>For More Info</span></button></a>
	<hr color="blue">
	<a name="nagaland"></a>
	<font face="calibiri" size="8" color="black"><b><u>Nagaland</u></b></font>
	<br><br>
	<ul type="disc">
		<li><font color="red" size="6"><b>Monuments</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Amber Fort</li>
				<li>Birla Mandir,Jaipur</li>
				<li>Hawa Mahal</li>
				<li>Abhaneri Steep Wall</li>
				<li>Jaigar Fort</li>
				<li>Dolls Meusem</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>Temples</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Mahandipur Balaji Temple</li>
				<li>Sai Dham</li>
				<li>Rani Sati Temple</li>
				<li>Ambika Temple</li>
				<li>Parshuram Temple</li>
				<li>Ranakpur Jain Temple</li>
				<li>Akshardham Temple</li>
				<li>Meerabai Temple</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>National Parks</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Ranthambore National Park</li>
				<li>Desert National Park</li>
				<li>Darrah National Park</li>
				<li>Keoladeo National Park</li></b></font>
			</ul>
		</li>
	</ul>
	<a href="/contact"><button class="button"><span>For More Info</span></button></a>
	<hr color="blue">
	<a name="meghalaya"></a>
	<font face="calibiri" size="8" color="black"><b><u>Meghalaya</u></b></font>
	<br><br>
	<ul type="disc">
		<li><font color="red" size="6"><b>Monuments</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Amber Fort</li>
				<li>Birla Mandir,Jaipur</li>
				<li>Hawa Mahal</li>
				<li>Abhaneri Steep Wall</li>
				<li>Jaigar Fort</li>
				<li>Dolls Meusem</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>Temples</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Mahandipur Balaji Temple</li>
				<li>Sai Dham</li>
				<li>Rani Sati Temple</li>
				<li>Ambika Temple</li>
				<li>Parshuram Temple</li>
				<li>Ranakpur Jain Temple</li>
				<li>Akshardham Temple</li>
				<li>Meerabai Temple</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>National Parks</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Ranthambore National Park</li>
				<li>Desert National Park</li>
				<li>Darrah National Park</li>
				<li>Keoladeo National Park</li></b></font>
			</ul>
		</li>
	</ul>
	<a href="/contact"><button class="button"><span>For More Info</span></button></a>
	<hr color="blue">
	<a name="mizoram"></a>
	<font face="calibiri" size="8" color="black"><b><u>Mizoram</u></b></font>
	<br><br>
	<ul type="disc">
		<li><font color="red" size="6"><b>Monuments</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Amber Fort</li>
				<li>Birla Mandir,Jaipur</li>
				<li>Hawa Mahal</li>
				<li>Abhaneri Steep Wall</li>
				<li>Jaigar Fort</li>
				<li>Dolls Meusem</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>Temples</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Mahandipur Balaji Temple</li>
				<li>Sai Dham</li>
				<li>Rani Sati Temple</li>
				<li>Ambika Temple</li>
				<li>Parshuram Temple</li>
				<li>Ranakpur Jain Temple</li>
				<li>Akshardham Temple</li>
				<li>Meerabai Temple</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>National Parks</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Ranthambore National Park</li>
				<li>Desert National Park</li>
				<li>Darrah National Park</li>
				<li>Keoladeo National Park</li></b></font>
			</ul>
		</li>
	</ul>
	<a href="/contact"><button class="button"><span>For More Info</span></button></a>
	<hr color="blue">
	<a name="tripura"></a>
	<font face="calibiri" size="8" color="black"><b><u>Tripura</u></b></font>
	<br><br>
	<ul type="disc">
		<li><font color="red" size="6"><b>Monuments</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Amber Fort</li>
				<li>Birla Mandir,Jaipur</li>
				<li>Hawa Mahal</li>
				<li>Abhaneri Steep Wall</li>
				<li>Jaigar Fort</li>
				<li>Dolls Meusem</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>Temples</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Mahandipur Balaji Temple</li>
				<li>Sai Dham</li>
				<li>Rani Sati Temple</li>
				<li>Ambika Temple</li>
				<li>Parshuram Temple</li>
				<li>Ranakpur Jain Temple</li>
				<li>Akshardham Temple</li>
				<li>Meerabai Temple</li></b></font>
			</ul>
		</li>
		<li><font color="red" size="6"><b>National Parks</b></font>
			<ul type="square"><font size="5" color="green"><b>
				<li>Ranthambore National Park</li>
				<li>Desert National Park</li>
				<li>Darrah National Park</li>
				<li>Keoladeo National Park</li></b></font>
			</ul>
		</li>
	</ul>
	<a href="/contact"><button class="button"><span>For More Info</span></button></a>
	<hr color="blue">
</body>
</html>